Authomatic==0.1.0.post1
Fabric==1.14.0
Flask==0.9
Flask-Cors==3.0.2
beautifulsoup4==4.4.1
boto==2.48.0
copydoc==1.0.9
copytext==0.1.9
-e git+https://github.com/nprapps/shortcodes.git@python2#egg=shortcodes
docutils==0.11
cssmin==0.2.0
docutils==0.11
gunicorn==19.8.1
Pillow==3.4.2
nose==1.2.1
pymongo==3.3.1
pytz==2018.5
requests==2.18.4
slimit==0.8.1
ply==3.4
smartypants==1.8.6
termcolor==1.1.0
xlrd==1.1.0
