// OVERRIDE CSS FOR SEAMUS PAGE
body.id520765159 header.contentheader, body.id520765159 #main-section header.contentheader.contentheader--one {
    display: none !important;
}

body.id520765159 header.contentheader {
    display: none;
}

body.id520765159 h3.slug, body.id520765159 .story>.slug, body.id520765159 .story>h3.slug {
    display: none;
}

body.id520765159 .story-tools, .story>.story-tools {
    display: none;
}

body.id520765159 .story > .storytitle {
    display: none;
}

body.id520765159 .story>.story-meta {
    display: none;
}

body.id520765159 .story>#storytext {
    display: none !important;
}

body.id520765159 .story>.tags {
    margin-left: 0;
}

@media only screen and (min-width: 768px) {
    body.id520765159 h3.slug, body.id520765159 .story>.slug, body.id520765159 .story>h3.slug {
        display: none;
    }
    body.id520765159 .story>#supplementarycontent {
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    body.id520765159 h3.slug, body.id520765159 .story>.slug, body.id520765159 .story>h3.slug {
        display: none;
    }
}
