<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>Election Night 2018 Live</title>

    <base target="_blank">

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
    <script src="{{ S3_BASE_URL }}/js/lib/modernizr.js"></script>
</head>
<body class="vis-not-available">
    <script src="js/app_config.js"></script>
    <!-- ANALYTICS JAVASCRIPT -->
    {% if DEPLOYMENT_TARGET %}
    <script src="js/header.min.js"></script>
    {% else %}
    <script src="js/header.js"></script>
    {% endif %}

    {% block content %}
    {% endblock content %}
    <script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>
    <script src="https://pym.nprapps.org/pym.v1.min.js" type="text/javascript"></script>
    {% if DEPLOYMENT_TARGET %}
    <script src="js/bundle.min.js"></script>
    {% else %}
    <script src="js/bundle.js"></script>
    {% endif %}

    {% block facebooksdk %}
    <div id="fb-root"></div>
    <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=760859660627694" async defer ></script>
    {% endblock %}

    <script type="text/javascript">
        var COPY = {{ COPY.content.json()|safe }};
    </script>
    </body>
</html>
