<!-- Use this component to insert any elements that are needed at the top of the liveblog page, as part of a larger project like elections -->

<div class="elections-2020-nav">
  <ul>
    <li class="logo"><a href="https://www.npr.org/sections/elections/"><img src="img/logo-election2020.svg" alt="2020 Election" /></a></li>
    <li><a href="https://www.npr.org/sections/elections/">News</a></li>
    <li><a href="https://www.npr.org/series/758097234/election-2020-issue-tracker">Issues</a></li>
    <li><a href="https://www.npr.org/podcasts/510310/npr-politics-podcast">NPR Politics Podcast</a></li>
  </ul>
</div>
