{%if request.path == url_for('_preview') %}
    {% set filtered_posts = posts %}
{% else %}
    {% set filtered_posts = posts|selectattr("published", "equalto", "yes") %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <div class="liveblog {{status}}">
        {%if request.path == url_for('_preview') %}
        <h2 class="preview-msg">This is the preview page to check draft posts before publishing</h2>
        {% endif %}

        <div class="error-message">
            <p>Waiting for updates from server...</p>
        </div>

        {% if pinned_post %}
            <div class="pinned-post post" id="pinned" data-last-updated="{% if pinned_post.timestamp %}{{pinned_post.timestamp.isoformat()}}{% endif %}">
                {%if request.path == url_for('_preview') %}
                    <h4 class="post-headline {% if not pinned_post.headline %}hidden{% endif %}">{{pinned_post.headline or ''}}</h4>
                    <div class="post-content">{{pinned_post.contents|safe}}</div>
                    <div class="post-footer"></div>
                    {%if NESTED_EMBED_URL %}
                    <div class="nested-embed">
                        <p data-pym-src="{{NESTED_EMBED_URL}}">Loading...</p>
                    </div>
                    {% endif %}
                {% else %}
                    <h4 class="post-headline {% if not pinned_post.headline %}hidden{% endif %}">{{pinned_post.cached_headline or ''}}</h4>
                    <div class="post-content">{{pinned_post.cached_contents|safe}}</div>
                    <div class="post-footer"></div>
                    {%if NESTED_EMBED_URL %}
                    <div class="nested-embed">
                        <p data-pym-src="{{NESTED_EMBED_URL}}">Loading...</p>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
            <div class="new-posts-counter">
                <a href="#" class="new-posts-btn">See <span class="counter"></span></a>
            </div>
        {% for post in filtered_posts %}
            <div class="liveblog-item post{%if post['published'] == 'no' %} draft{% endif %}" id="{{ post.slug }}">
                <div class="post-header">
                    <span class="post-timestamp">{{ post.timestamp.isoformat() }}</span>
                </div>
                {% if post['major development'] == "yes" %}
                <span class="post-label">Fact Check</span>
                {% endif %}
                <h4 class="post-headline{%if post['published'] == 'no' %} draft-headline{% endif %}">{{ post.headline }}</h4>
                <div class="post-content">
                    {{ post.contents|safe }}

                    <p class="post-author">
                        &mdash;
                        {% for author in post.authors %}
                            {% if author.page == '' %}
                            <span class="author-other">{{ author.name }}</span>{% if loop.index < post.authors|length %},{% endif %}
                            {% else %}
                                <a href="{{ author.page }}">{{ author.name }}</a>{% if loop.index < post.authors|length %},{% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="post-footer">
                    <span id="dl-{{ post.slug }}" class="deeplink">Copy link</span>
                    <a class="footer-top-link" href="#">Back to top</a>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
