<!DOCTYPE html>
<html>
<head>
    <title>{{headline}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="robots" content="NOINDEX">

    <meta property="og:title" content="{{headline}}" />
    <meta name="twitter:title" content="{{headline}}" />
    <meta name="description" content="DESC" />
    <meta property="og:description" content="DESC" />
    <meta name="twitter:description" content="DESC" />

    <meta property="og:image" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:alt" content="A description of the twitter image if at all possible" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="512" />

    <meta property="og:url" content="{{PARENT_LIVEBLOG_URL}}?post={{slug}}" />
    <meta name="twitter:url" content="{{PARENT_LIVEBLOG_URL}}?post={{slug}}" />
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@NPR">
    <meta name="twitter:creator" content="@NPR">
    <meta property="fb:app_id" content="138837436154588" />
    <meta property="fb:admins" content="1594068001" />
    <meta property="fb:pages" content="10643211755" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="NPR.org" />
</head>
<body>
    {# This is what a post object looks like
    {u'headline': u'Post haste!', 'timestamp': datetime.datetime(2018, 8, 29, 15, 2, 31, 955000, tzinfo=<UTC>), u'published': u'yes', u'major development': u'no', 'authors': [{'page': u'https://www.npr.org/people/395772167/miles-parks', 'name': u'Miles Parks'}], u'slug': u'post-haste-3', u'contents': u'<p>POST CONTENT</p>'} #}
    <p>Img src: {{img_src}}</p>
    <p>Lead graf: {{lead_paragraph}}</p>
    <h1>{{headline}}</h1>
    <p>If you are not redirected, <a href="{{PARENT_LIVEBLOG_URL}}?post={{slug}}">visit the NPR live blog here</a></p>
    <script>
    // Commented out for testing purposes
    //document.location = '{{PARENT_LIVEBLOG_URL}}?post={{slug}}';
    </script>
</body>
</html>
